.App.login {
  font-style: Montserrat;
  padding-top: 0;
  h1,
  p,
  span {
    text-align: center;
    color: #ffffff;
  }

  h1 {
    font-size: 24px;
  }

  .login-page {
    background-image: url('./../../img/auth-bckg.jpg');
    background-size: cover;
  }

  .login-page::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
