$color: #e4e4e4;
$border-color: #2a2a2a;

.App.seller-listings-new {
  .listing-form {
    font-family: Montserrat;
    padding-bottom: 125px;
    .form-title {
      font-size: 41px;
      font-weight: 500;
      line-height: 1.22;
      color: #ffffff;
      margin: 41px 0 71px 0;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
    .label {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.23;
      color: $color;
      margin-bottom: 20px;
      &.flex-row {
        display: flex !important;
      }
      i {
        margin-left: 20px;
      }
    }
    .arcane-switch {
      margin-left: 20px;
    }
    .input-addon-left {
      margin-left: 21px;
      margin-right: 18px;
      font-family: Montserrat;
      font-size: 26px;
      line-height: 1.23;
      color: #ffffff;
    }
    input[type='text'],
    input[type='number'],
    .react-tags,
    select {
      height: 50px;
      border-radius: 5px;
      background-color: #e4e4e4;
      color: #121212;
      margin-bottom: 0;
      border: none;
      outline: none;
      font-family: Montserrat;
      font-size: 22px;
      line-height: 1.23;
      color: #121212;
    }
    .listing-basic-info {
      padding: 13px 0 13px 121px;
      @media (max-width: 1215px) {
        padding-left: 0;
        margin-bottom: 32px;
      }
      input[type='text'] {
        padding: 11px 25px;
        width: 100%;
      }
      .react-tags {
        display: flex;
        height: auto;
        flex-wrap: wrap;
        padding: 0;
        background-color: transparent;
        &__suggestions {
          z-index: 10;
        }
        &__selected {
          white-space: nowrap;
          font-size: 20px;
          line-height: 1.2;
          color: #ffffff;
          display: flex;
          flex-wrap: wrap;
        }
        &__selected-tag {
          border-radius: 10px;
          background-color: #463af3;
          border: none;
          outline: none;
          font-family: 'Montserrat';
          padding: 6px 11px;
          margin: 0 17px 17px 0;
          &:after {
            content: '';
          }
        }
        &__search {
          width: 100%;
          height: 50px;
          border-radius: 5px;
          background-color: #e4e4e4;
          color: #121212;
          margin-bottom: 0;
          border: none;
          outline: none;
          font-family: Montserrat;
          font-size: 22px;
          line-height: 1.23;
          color: #121212;
          padding: 11px 25px;
        }
        &__search-input {
          margin-bottom: 0;
          height: 100%;
          width: 100%;
        }
      }
      .react-tags__search-input {
        background-color: #e4e4e4;
        // width: 100%;
        // padding: 11px 25px;
      }
      select {
        width: 232px;
        padding: 9px 25px;
      }
      input,
      select {
        font-size: 22px;
        line-height: 1.23;
        color: #121212;
      }
    }
    trix-editor {
      padding: 25px 25px 50px;
      background-color: #e4e4e4;
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.68;
      color: #121212;
      border-radius: 5px;
      min-height: 366px;
    }
    .trix-button {
      background-color: whitesmoke;
    }

    .supported-platforms {
      margin-right: 10%;
      margin-bottom: 55px;
      .child-platforms {
        margin-left: 40px;
        input[type='checkbox'] {
          margin-right: 20px;
        }
      }
      label:not(.label) {
        margin-bottom: 15px;
        font-size: 21px;
        line-height: 1.19;
        opacity: 0.7;
        color: $color;
        &.checked {
          opacity: 1;
        }
      }
    }
    .system-requirements {
      margin-bottom: 55px;
      .system-requirements-content {
        border-radius: 5px;
        border-top-left-radius: 0;
        border: solid 1px $border-color;
        background-color: $color;
        .content-item {
          padding: 15px 20px;
          .content-item-text,
          .content-item-label {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.56;
            color: #8f8f8f;
          }
          .content-item-text {
            margin-bottom: 15px;
          }
          .content-item-label {
            font-size: 13px;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-left: 10px;
          }
          &:first-of-type {
            border-right: solid 1px $border-color;
          }
          input[type='text'],
          textarea {
            height: auto;
            margin: 0;
            border: none;
            outline: none;
            padding: 11px 10px;
            margin-bottom: 15px;
            color: black;
            background-color: white;
            width: 100%;
          }
          textarea {
            width: 100%;
            resize: none;
          }
        }
        &.mobile {
          .content-item {
            border-right: none;
            .content-item-text {
              display: none;
            }
          }
        }
      }
    }
    .price-details {
      margin-bottom: 55px;
      input {
        padding: 11px 25px;
        text-align: center;
        width: 100%;
        &[type='number'] {
          width: 200px;
        }
      }
    }
    .preorderable {
      margin-bottom: 55px;
    }
    button[type='submit'] {
      border-radius: 8px;
      background-color: #463af3;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: bold;
      line-height: 1.24;
      letter-spacing: 0.85px;
      text-align: center;
      color: #ffffff;
      border: none;
      outline: none;
      padding: 14px;
      width: 236px;
      height: 50px;
    }
  }
}
