.App.seller-dashboard {
  canvas {
    width: 100%;
  }

  .links {
    margin: 70px 0;

    a {
      color: #525252;
      font-size: 18px;
      letter-spacing: 0;
      margin: 2em;
      border-bottom: none;
      text-decoration: none;
      font-family: 'Montserrat';
      &.selected {
        font-weight: 500;
        color: #e4e4e4;
        border-bottom: 4px #2d2785 solid;
      }
    }
  }

  .post {
    display: flex;
    justify-content: flex-end;
    padding: 1em 2rem;
    margin: 2rem 0;
  }

  .chart-filters {
    width: 100%;

    .button-bar {
      display: flex;
    }
    .button-bar__item {
      width: 25vw;

      button {
        width: 100%;
        padding: 1em;
        font-size: 19px;
        background-color: transparent;

        &:hover,
        &.active {
          cursor: pointer;
          background-color: #463af3;
          color: whitesmoke;
        }
      }
    }
  }

  .listings {
    width: 1100px;
    display: block;

    h1 {
      font-family: 'Montserrat';
      font-size: 22px;
      letter-spacing: 0px;
      margin: 0 auto 2em;
      text-align: center;
      color: aliceblue;
    }

    .active,
    .pending {
      width: 50%;
      vertical-align: top;
      display: inline-block;
      height: 70vh;
      overflow-y: scroll;
    }

    .game-listing {
      display: inline-flex;
      width: 200px;
      height: 200px;
      max-height: 200px;
      max-width: 200px;

      img {
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
      }

      .magic {
        position: absolute;
        width: 200px;
        height: 200px;
        max-height: 200px;
        max-width: 200px;
        border-radius: 1.1em;
        background-color: #463af3;

        .actions {
        }
      }
    }
  }

  .payments {
    .manage-payments {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    .modal {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      .panel-block {
        background-color: white;
        display: flex;
        justify-content: center;
        padding: 1em;

        .accepting {
          display: flex;
          justify-content: center;
        }

        .coins {
          display: flex;
          justify-content: center;
        }

        .btcIcon,
        .xmrIcon {
          img {
            width: 55px;
          }
        }

        .bitcoin,
        .monero {
          padding: 1em;

          .left,
          .right {
            display: inline-block;
          }
          .right {
            margin-left: 2em;
            vertical-align: top;
            margin-top: 1.5em;

            input {
              background-color: whitesmoke;
              color: #a2a2a2;
            }
          }
        }

        .topcoat-switch__input:checked + .topcoat-switch__toggle {
          margin-left: 1.85rem;
        }

        .topcoat-switch__toggle {
          margin-left: -2.5rem;

          &:before,
          &:after {
            z-index: 9;
          }
        }
      }
    }
  }
  .recent-orders {
    padding: 0 30px;
    .orders {
      .order {
        padding: 20px 0;
        border-bottom: 1px solid;
        &:last-of-type {
          border-bottom: none;
        }
        .order-image img {
          max-width: 100px;
        }
        .order-details {
          padding: 0 20px;
        }
      }
    }
  }
}
