.homepage-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  box-shadow: 0px 1px 1px #FFFFFF26;

  .drop-btn,
  .tab {
    text-align: left;
    font-size: 18px;
    font-family: Montserrat;
    display: flex;
    flex-direction: row;

  }

  .drop-btn,
  .tab a {
    color: #FFFFFF;
    padding: 18px 25px;
  }

  .tab a {
    width: 100%;
  }

  .tab {
    box-shadow: 0px 1px 1px #FFFFFF26;
  }

  .drop-btn {
    text-transform: capitalize;
    background-color: #121212;

    .arrow-icon {
      margin-left: 10px;
    }

    .arrow-icon.open {
      transform: rotate(180deg);
    }

  }

  .dropdown-content {
    padding: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 18, 18, 0.90);
  }

  .tabs-mobile {
    opacity: 1;
    background-color: #2A2A2A;
  }

  .filters-modal {
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background-color: #121212;
    z-index: 999999;
    font-family: Montserrat;


    .filters-tab, .filter {
      padding: 19px 25px;
      font-size: 17px;
      color: #FFFFFF;
    }

    .filters-container, .filter {
      background-color: #2A2A2A;
      box-shadow:  0px 1px 1px #FFFFFF26;
    }

    .filters-tab {
      .filters-list {
        max-height: 100px;
        overflow-y: scroll;
      } 
    }
  }
}