.pending-listings {
  grid-template-columns: repeat(6, 1fr);
  display: grid;
  grid-gap: 30px;

  .game-listing {
    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 43px;
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33px;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 23px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
