$tab-color: #e4e4e4;
$tab-border-color: #463af3;

.arcane-tabs {
  .arcane-tab {
    padding: 2.5px;
    opacity: 0.3;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: $tab-color;
    margin-right: 28px;

    &:last-of-type {
      margin-right: 0;
    }

    &.active {
      opacity: 1;
      border-bottom: solid 2px $tab-border-color;
    }

    &:hover {
      color: $tab-color;
      opacity: 1;
    }
  }
}
