$color: #463af3;

.buy-modal {
  min-width: 731px;

  @media (max-width:600px) {
    min-width: auto;
  }

  button[type='submit'] {
    width: 236px;
  }
  .already-own {
    margin-top: 20px;
  }
}
