@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.App {
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 3em 0;

    @media (max-width:600px) {
      justify-content: center;
    }

    .tab {
      &:first-of-type {
        margin-left: 0;
      }
      margin: 0 2em;
      border: 0;
    }
    a {
      color: #525252;
      font-size: 18px;
      letter-spacing: 0;
      border-bottom: none;
      text-decoration: none;
      font-family: 'Montserrat';

      &:focus {
        border: none;
      }

      &.selected {
        font-weight: 500;
        color: #e4e4e4;
        border-bottom: 4px #2d2785 solid;
      }
    }
  }

  .new-releases {
    width: 1050px;
    display: block;
    margin: 0 auto;

    @media (max-width:800px) {
      width:100vw
    }

  .splide__slide {
    display: flex;
    justify-content: center;
  }


    .game-listing {
      max-width: 200px;
      max-height: 200px;
      height: 200px;
      width: 200px;
      margin: 0;

      img {
        max-width: 200px;
        max-height: 200px;
        height: 200px;
        width: 200px;
        margin: 0;
      }
    }

    .splide {
      margin: 0 auto;
    }

    h1 {
      margin: 1em 0em 0.7em 1.5em;
      font-size: 21px;
      font-family: 'Montserrat';
      letter-spacing: 0.4px;
      text-align: left;
      font-weight: 400;
      text-rendering: geometricPrecision;
    }
  }

  .promotions {
    width: 1105px;
    display: block;
    margin: 0 auto;

    @media (max-width:800px) {
      width:100vw
    }


    h1 {
      margin: 1em 0em 0.7em 1.9em;
      font-size: 24px;
      font-family: 'Montserrat';
      letter-spacing: 0.4px;
      text-align: left;
      font-weight: 400;
      text-rendering: geometricPrecision;
    }

    .game-list {
      background-color: transparent;
      width: 1105px;
      margin: 0 auto;
      padding: 0;

      @media (max-width:800px) {
        width:100vw;
      }

    }
  }

  .slider-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .slider {
      display: inline-block;
    }

    .slider-info {
      width: 450px;
      display: inline-block;
      vertical-align: top;
      background-color: #463af3;
      height: 401px;
      position: relative;
      top: -4px;
      padding: 1em;

      @media (max-width:1069px) {
    		width: 600px
    	}

      @media (max-width:600px) {
    		width: 100vw
    	}


      h1 {
        margin: 1em;
        font-weight: 500;
        font-family: 'Montserrat';
        font-size: 26px;
        letter-spacing: -0.3px;
        text-align: left;
      }

      p {
        font-family: 'Montserrat';
        text-align: left;
        padding: 1em;
        font-size: 15px;
        color: aliceblue;
        line-height: 1.4;
        letter-spacing: 0px;
        height: 190px;
        text-overflow: ellipsis;
      }

      .platform-icons {
        margin-top: 30px;
        vertical-align: bottom;
        display: flex;
        justify-content: space-between;

        a {
          color: white;
        }

        i {
          color: aliceblue;
          font-size: 24px;
        }
      }
    }

    .splide__slide {

      img {
        width: 600px;
        height: 400px;

        @media (max-width:600px) {
      		width: 100vw;
          height: 400px;
      	}

        @media (max-width:530px) {
      		width: 100vw;
          height: 350px;
      	}
      }
    }

    video,
    div[autoplay] {
      border-radius: 12px;
    }
  }

  .browse-listings {
    height: 6vh;
    width: 1050px;
    margin: 0 auto;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.5);

    label {
      padding-right: 1vw;
      color: rgba(#e4e4e4, 0.5);
    }
    input[type='search'] {
      padding: 0.3em 2.5em;
      text-align: center;
      color: aliceblue;
      margin-right: 1em;
    }

    select {
      background-color: transparent;
      color: aliceblue;
      border: none;

      option {
        background-color: #2a2a2a;
        border-color: #2a2a2a;
      }
    }
  }

  .games {
    display: flex;
    width: 1050px;
    margin: 0 auto;

    @media (max-width:800px) {
      width:100vw
    }

;
  }

  .game-list {
    min-height: 40vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    padding-top: 4vh;
    flex-wrap: wrap;

    .game-listing {
      width: 9vw;
      height: 9vh;
      margin: 2rem;
      min-width: 100px;
      max-width: 120px;
      max-height: 120px;
      min-height: 100px;
      border-radius: 1.1em;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      &:hover {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
          0 15px 12px rgba(0, 0, 0, 0.22);
      }

      img {
        width: 9vw;
        max-width: 120px;
        min-width: 100px;
        max-height: 120px;
        min-height: 100px;
        height: 9vh;
        object-fit: cover;
        border-radius: 1.1em;
      }
    }
  }

  .filters {
    min-height: 40vh;
    width: 25vw;
    border-left: 3px solid #2f2d32;
    background-color: rgba(#2a2a2a, 0.4);

    .card {
      background-color: rgba(0, 0, 0, 0.2);
      margin: 2rem;
      min-height: 150px;
      color: aliceblue;
      text-align: center;

      header p {
        color: aliceblue;
        text-align: center;
        justify-content: center;
      }

      .content {
        display: flex;
        justify-content: center;
      }
    }
  }
}
