@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.App {
  .tabs {
    display: flex;
    justify-content: end;
    width: 71.8vw;
    margin: 0 auto;
    padding: 3em 0;

    .tab {
      &:first-of-type {
        margin-left: 0;
      }
      margin: 0 2em;
      border: 0;
    }
    a {
      color: #525252;
      letter-spacing: 0;
      font-family: "Montserrat";
      font-size: 18px;
      text-decoration: none;
      border-bottom: none;
      &.selected {
        color: #E4E4E4;
        border-bottom: 4px #2D2785 solid;
      }
    }
  }

  .slider-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .slider {
      display: inline-block;
    }

    .slider-info {
      width: 450px;
      display: inline-block;
      vertical-align: top;
      background-color: #463AF3;
      height: 401px;
      position: relative;
      top: -4px;
      padding: 1em;

      h1 {
        margin: 1em;
        font-weight: 600;
        font-family: "Montserrat";
        font-size: 26px;
        letter-spacing: -0.3px;
        text-align: left;
      }

      p {
        font-family: "Montserrat";
        padding: 1em;
        color: aliceblue;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
        height: 190px;
        text-overflow: ellipsis;
      }

      .platform-icons {
        margin-top: 30px;
        vertical-align: bottom;
        display: flex;
        justify-content: flex-end;

        i {
          color: aliceblue;
          font-size: 24px;
        }
      }
    }

    .splide__slide img {
      width: 700px;
      height: 400px;
    }

    video, div[autoplay] {
      border-radius: 12px;
    }

  }

  .browse-listings {
    margin-top: 5vh;
    height: 6vh;
    background-color: rgba(0, 0, 0, 0.5);

    label {
      padding-right: 1vw;
      color: aliceblue;
    }
    input[type=search] {
      text-align: center;
      color: aliceblue;
    }
  }

  .games {
    display: flex;
  }

  .game-list {
    min-height: 40vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    padding-top: 4vh;
    flex-wrap: wrap;

    .game-listing {
      width: 9vw;
      height: 9vh;
      margin: 2rem;
      min-width: 100px;
      max-width: 120px;
      max-height: 120px;
      min-height: 100px;
      border-radius: 1.1em;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

      &:hover {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

      }

      img {
        width: 9vw;
        max-width: 120px;
        min-width: 100px;
        max-height: 120px;
        min-height: 100px;
        height: 9vh;
        object-fit: cover;
        border-radius: 1.1em;
      }

    }
  }

  .filters {
    min-height: 40vh;
    width: 25vw;
    border-left: 3px solid #2F2D32;
    background-color: rgba(0, 0, 0, 0.4);

    .card {
      background-color: rgba(0,0,0,0.2);
      margin: 2rem;
      min-height: 150px;
      color: aliceblue;
      text-align: center;

      header p {
        color: aliceblue;
        text-align: center;
        justify-content: center;
      }

      .content {
        display: flex;
        justify-content: center;
      }
    }
  }
}
