@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.App {

  ::-webkit-scrollbar {
      width: 6px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  .button {
    outline: none;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tab-bar-container {
    top: 78px;
    position: fixed;
    z-index: 999999;
    background: #121212;
    left: 0;
    right: 0;

    @media (max-width:1023px) {
      position: static;
      z-index: 0;
    }
  }

  .top-search-bar {
    max-width: 1200px;
    height: 125px;
  }

  .tabs {
    display: flex;
    margin-bottom: 0;
    overflow: visible;
    overflow-x: visible;


    .tab {
      &:first-of-type {
        margin-left: 0;
      }
      margin: 0 2em;
      border: 0;
    }
    a {
      color: #525252;
      font-size: 18px;
      letter-spacing: 0;
      border-bottom: none;
      text-decoration: none;
      font-family: 'Montserrat';

      &:focus {
        border: none;
        outline: none;
      }

      &.selected {
        font-weight: 500;
        color: #e4e4e4;
        border-bottom: 4px #2d2785 solid;
      }
    }


    @media (max-width:768px) {
      display: none;
    }
  }


  .tabs-mobile {
    display: none;


    @media (max-width:768px) {
      display: flex;
    }
  }

  .promotions {
    width: 100%;
    max-width: 1200px;

    .games {
      grid-template-columns: repeat(6, 1fr);
      max-width: 100%;
      width: 100%;
      display: grid;
      grid-gap: 30px;


      .game-listing {

        img {
          width: 100%;
          height: 160px;
        }

        &:hover {
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
        }

      }

    }

    @media (max-width:1200px) {

      .games {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 43px;
        width: 100vw;

        .game-listing {
          img {
            min-height: 113px;
            max-height : 200px;
          }
        }
      }
    }

    @media (max-width:992px) {

      .games {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 33px;

         
      }
    }

    @media (max-width:768px) {

      .games {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 23px; 
      }
    }

    @media (max-width:600px) {

      .games {
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 10px; 
         

      }
    }

      
  }

  .page-container {
    width: 100%;
    display: flex;


    .discover {
      width: 100%;
      padding: 0 35px;
      margin-top: 85px;

      .title-container { 
        width: 100%;
        max-width: 1200px;
        margin-bottom: 34px;
        font-family: Montserrat;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        color: #e4e4e4;
      }

      .new-releases {
        width: 100%;
        margin-bottom: 34px;

        .release-slider {

          max-width: 1400px;
          width: 100vw;
          display: flex;
          justify-content: center;

          .splide__track {
            max-width: 1240px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

           }

          .splide__list {
            display: flex;
            flex-direction: row;
            max-width: 1670px;

            li.splide__slide {

              padding: 0 15px;
              width: 25% !important;
            }
          }

          .releases-games-listing {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 20px;
 
            img {
              height: 270px;
              width: 100%;
              object-fit: cover;
              border-radius: 20px;
            }

            .overlay {
              display: none;
              font-size: 20px;

              .overlay-info {
                width: 100%;
              }


            }

            &:hover {
              .overlay {
                display: flex;
                padding: 20px 17px;
                background: rgba(70, 58, 243, 0.80);
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                border-radius: 20px;
                color: #FFFFFF;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                z-index: 9999;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;

                .price-info {
                  color: #FFDD00;
                }

                .description {
                  font-size: 14px;
                  font-family:  Open Sans;
                  font-weight: normal;
                }

                .overlay-title {
                  font-size: 1rem;
                }

                .overlay-buttons {
                  width: 100%;
                }

                .overlay-button {
                  width: 100%;
                  max-width: 153px;
                  height: 25px;
                  font-size: 13px;
                  border: 1px solid #FFFFFF;
                  border-radius: 25px;
                  opacity: 1;

                  a {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                  }

                  &.buy {
                    background-color: #FFFFFF;
                    margin-top: 11px;

                    a {
                      color: #4539EE;
                    }
                  }

                  &.trailer {
                    background-color: #463AF3;

                    a {
                      color: #FFFFFF;
                    }
                  }
                }
              }
            }
          }

        }
      }

      .explore {
        width: 100%;
        margin-bottom: 74px;
        max-width: 1200px;
      }

    }

    @media (max-width:1150px) {
      .discover {
        .new-releases {
          .release-slider {

            .releases-games-listing {
              img {
                height: 200px;
              }

              &:hover {
                .overlay {
                  .overlay-title {
                    font-size: 13px;
                  }

                  .description {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }
    }



    @media (max-width:768px) {
      .discover {
        .new-releases {
          width: 100%;

          .release-slider {
            width: 100%;

            .releases-games-listing {
              position: relative;
          
              &:hover{
                .overlay {
                  font-size: 13px;
                  .description {
                    display: none; 
                  }
                  .overlay-button {
                    width: 100%;
                    height: 25px !important;
                    font-size: 11px !important;
                  }
                }
              }
            }

            .splide__list {
              display: flex;
              flex-wrap: wrap;
              transform: none !important;

              img {
                height: 153px;
              }

              li.splide__slide {
                width: 33.3% !important;
                padding: 0 15px;
                margin-bottom: 15px;
              }
            }

            .splide__pagination,
            .splide__arrows {
              display: none;
            }
          }
        }

        .explore {
          display: none;
        }
      }
    }


    @media (max-width:600px) {
      .discover {
        padding: 0 25px;
        .new-releases {
          
          .release-slider {
           
            .splide__list {
              
              img {
                height: 193px;
              }

              li.splide__slide {
                width: 50% !important;
                padding: 0 15px;
                margin-bottom: 15px;

                &:nth-child(odd) {
                  padding-right: 10px;
                }

                &:nth-child(even) {
                  padding-left: 10px;
                }
              }
            }
          } 
        }
      }
    }


    @media (max-width:530px) {
      .discover {
        .new-releases {
          
          .release-slider {
           
            .splide__list {
              
              img {
                height: 173px;
              }

              li.splide__slide {
                width: 50% !important;
                padding: 0 15px;
                margin-bottom: 15px;
              }
            }
          } 
        }
      }
    }


    @media (max-width:430px) {
      .discover {
        .new-releases {
          
          .release-slider {
            .releases-games-listing {
              &:hover {
                .overlay {
                  padding: 5px;
                  .overlay-title {
                    font-size: 12px;
                  }
                  .price-info {
                    font-size: 12px;
                  }
                  .overlay-buttons {
                    font-size: 10px;
                    .buy {
                      margin-top: 2px;
                      font-size: 7px;
                    }
                  }

                  .overlay-button {
                    height: 18px !important;
                  }

                }
              }
            }
           
            .splide__list {
              
              img {
                height: 123px;
              }
              

              li.splide__slide {
                width: 50% !important;
                padding: 0;
                margin-bottom: 15px;

                &:nth-child(odd) {
                  padding-right: 10px;
                }

                &:nth-child(even) {
                  padding-left: 10px;
                }
              }


            }
          } 
        }
      }
    }

   
  
  }

    .slider {
      display: inline-block;
      width: 100%;
    }

    .slider-info {
      font-family: Montserrat;
      width: 40%;
      background-color: #463af3;
      padding: 44px 42px 47px 42px;

      @media (max-width:1025px) {
    		width: 600px
    	}


      h1 {
        text-align: left;
        font-size: 32px;
        letter-spacing: 0px;
        color: #E4E4E4;
        opacity: 1;
      }

      p {
        text-align: left;
        font-size: 15px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.8;
        text-overflow: ellipsis;
      }

      .platform-icons {

        img {
        width: 21px;
        height: 21px;
        margin-left: 15px;
        }

        a {
          color: #E4E4E4;
          font-size: 15px;
        }
      }

       @media (max-width:1025px) {
        width: 100%;
      }
    }

    .slider .splide.splide-slider{
      @media (max-width:768px) {
        max-width: 100vw;
      }
    }

    .main-slider {
      img {
        width: 60%; 
        height: 500px; 
      }

      .trailer-container {

        .trailer-player {
          width: 100% !important;
          height: 576px !important;
        }

        .close-player {
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          margin: 20px;
          position: absolute;
          cursor: pointer;
        }

        .play-btn {
          width: 139px;
          height: 139px;
        }
      }

      .slider-item {
        flex-direction: row;
      }

      @media (max-width:1025px) {
        flex-direction: column;
        max-width: 100vw;
        height: 100% !important;

        img {
          width: 100%;
          height: 300px;
        }

        .slider-item {
          flex-direction: column;
        }

        .slider-info {
          height: 300px;
          padding: 25px 21px;

        }
      }

      @media (max-width:768px) {
        .slider-text-container {
          overflow: auto;
        }
      }
    }

    video,
    div[autoplay] {
      border-radius: 12px;
      @media (max-width:500px) {
        margin: 0.4em;
        width: auto !important;
      }
    }

  .browse-listings {

    .arcane-range-slider {
      padding-top: 30px;
      width: 250px;
      margin-left: 13px;
      padding-right: 13px;
    }

    .search-item {

      select {
        width: 130px;
        margin-right: 10px;
        &.search-platform,
        &.search-genre {
          max-width: 70px
        }
      }

      label {
        margin-right: 13px;
        color: rgba(#e4e4e4, 0.5);
      }
    }
  
    select {
      &:focus {
        outline: none;
      }
    }

    input[type='search'] {
      outline: none;
      margin-right: 1em;
      border-radius: 15px;
    }

    select {
      background-color: transparent;
      border: none;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.18;
      text-align: left;
      color: #e4e4e4;

      option {
        background-color: #2a2a2a;
        border-color: #2a2a2a;
      }
    }
  }

  .filters {
    min-height: 40vh;
    width: 25vw;
    border-left: 3px solid #2f2d32;
    background-color: rgba(#2a2a2a, 0.4);

    @media (max-width:880px) {
      display: none;
    }

    .card {
      background-color: rgba(0, 0, 0, 0.2);
      margin: 2rem;
      min-height: 150px;
      color: aliceblue;
      text-align: center;

      header p {
        color: aliceblue;
        text-align: center;
        justify-content: center;
      }

      .content {
        display: flex;
        justify-content: center;
      }
    }
  }


  .home-page-container {
    max-width: 1200px;
    width: 100%;
    padding-top: 120px;

    .homepage-dropdown {
      display: none;
    }

    .filters-btn {
      display: none;
    }

    @media (max-width:1023px) {
      padding-top: 0; 
    }

    @media (max-width:768px) {

      .top-search-bar .advanced-search {
        flex-direction: column;
        display: none;
      }

      position: relative;

      .homepage-dropdown {
        display: flex;

        .drop-bar {
          .top {
            box-shadow: 0px 1px 1px #FFFFFF26;
          }
          .browse-listings {
            width: 100%;
          }

          .top-search-bar {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .filters-btn {
        display: flex;
        padding: 17px 25px;
        font-size: 17px;
        color: #FFFFFF;
      }
    }
  }
}

