@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
.App {

  ::-webkit-scrollbar {
      width: 6px;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }


  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 3em 0;

    @media (max-width:600px) {
      justify-content: center;
    }

    .tab {
      &:first-of-type {
        margin-left: 0;
      }
      margin: 0 2em;
      border: 0;
    }
    a {
      color: #525252;
      font-size: 18px;
      letter-spacing: 0;
      border-bottom: none;
      text-decoration: none;
      font-family: 'Montserrat';

      &:focus {
        border: none;
      }

      &.selected {
        font-weight: 500;
        color: #e4e4e4;
        border-bottom: 4px #2d2785 solid;
      }
    }
  }

  .new-releases {
    width: 1050px;
    display: block;
    margin: 3em auto;

    @media (max-width:800px) {
      width:100vw
    }

  .splide__slide {
    display: flex;
    justify-content: center;
  }


    .game-listing {
      max-width: 200px;
      max-height: 200px;
      height: 200px;
      width: 200px;
      margin: 0;

      img {
        max-width: 200px;
        max-height: 200px;
        height: 200px;
        width: 200px;
        margin: 0;
      }
    }

    .splide {
      margin: 0 auto;
    }

    h1 {
      margin: 1em 0em 0.7em 1.5em;
      font-size: 21px;
      font-family: 'Montserrat';
      letter-spacing: 0.4px;
      text-align: left;
      font-weight: 400;
      color: aliceblue;
      text-rendering: geometricPrecision;
    }
  }

  .promotions {
    width: 1105px;
    display: block;
    margin: 0 auto;

    @media (max-width:800px) {
      width:100vw
    }


    h1 {
      color: aliceblue;
      margin: 1em 0em 0.7em 1.9em;
      font-size: 24px;
      font-family: 'Montserrat';
      letter-spacing: 0.4px;
      text-align: left;
      font-weight: 400;
      text-rendering: geometricPrecision;
    }

    .game-list {
      background-color: transparent;
      width: 1050px;
      margin: 0 auto;
      padding: 0;
      display: flex;

      @media (max-width:800px) {
        width:100vw;
        margin-left: 35px;
      }

    }
  }

  .page-container {
    width: 100%;
    display: flex;

    .slider {
      display: inline-block;
      width: 100%;
    }

    .slider-info {
      font-family: 'Montserrat';
      width: 40%;
      background-color: #463af3;
      padding: 44px 42px 47px 42px;

      @media (max-width:1025px) {
    		width: 600px
    	}


      h1 {
        text-align: left;
        font-size: 32px;
        letter-spacing: 0px;
        color: #E4E4E4;
        opacity: 1;
      }

      p {

        text-align: left;
        font-size: 15px;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 0.8;
        text-overflow: ellipsis;

      }

      .platform-icons {

        img {
        width: 21px;
        height: 21px;
        margin-left: 15px;
        }

        a {
          color: #E4E4E4;
          font-size: 15px;
        }
      }

       @media (max-width:1025px) {
        width: 100%;
      }
    }

    .slider .splide.splide-slider{
      @media (max-width:768px) {
        max-width: 100vw;
      }
    }

    .splide__slide {
      img {
        width: 60%; 
        height: 500px; 
      }

      

      .slider-item {
        flex-direction: row;
      }

      @media (max-width:1025px) {
        flex-direction: column;
        max-width: 100vw;
        height: 100% !important;

        img {
          width: 100%;
          height: 300px;
        }

        .slider-item {
          flex-direction: column;
        }

        .slider-info {
          height: 300px;
          padding: 25px 21px;

        }
      }

      @media (max-width:768px) {
         .slider-text-container {
           overflow: auto;
          }
      }
    }

    video,
    div[autoplay] {
      border-radius: 12px;
      @media (max-width:500px) {
        margin: 0.4em;
        width: auto !important;
      }
    }
  }

  .browse-listings {
    height: 6vh;
    width: 1050px;
    margin: 0 auto;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width:1025px) {
      width:100vw;
      margin-bottom: 2em;
      padding: 0;

      .navbar-item {
        display: inline-flex;

        label {
          font-size: 12px;
        }
      }

      .search-filters {
        display: flex;
        background-color: transparent;
        justify-content: space-between;


        input[type=search] {
          width: 13vw;
        }
      }
    }



    label {
      padding-right: 1vw;
      color: rgba(#e4e4e4, 0.5);
    }
    input[type='search'] {
      padding: 0.3em 2.5em;
      margin-right: 1em;
      border-radius: 15px;
    }

    select {
      background-color: transparent;
      color: aliceblue;
      border: none;

      option {
        background-color: #2a2a2a;
        border-color: #2a2a2a;
      }
    }
  }

  .games {
    display: flex;
    width: 1050px;
    margin: 0 auto;

    @media (max-width:1025px) {
      width:100vw
    }

    .game-list {
      min-height: 40vh;
      width: 1050px;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      padding-top: 4vh;
      flex-wrap: wrap;

      @media (max-width:1025px) {
        width: 100vw;
      }

      .game-listing {
        width: 9vw;
        height: 9vh;
        margin: 2rem;
        min-width: 100px;
        max-width: 120px;
        max-height: 120px;
        min-height: 100px;
        border-radius: 1.1em;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

        &:hover {
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22);
        }

        img {
          width: 9vw;
          max-width: 120px;
          min-width: 100px;
          max-height: 120px;
          min-height: 100px;
          height: 9vh;
          object-fit: cover;
          border-radius: 1.1em;
        }
      }
    }
  }


  .filters {
    min-height: 40vh;
    width: 25vw;
    border-left: 3px solid #2f2d32;
    background-color: rgba(#2a2a2a, 0.4);

    @media (max-width:880px) {
      display: none;
    }

    .card {
      background-color: rgba(0, 0, 0, 0.2);
      margin: 2rem;
      min-height: 150px;
      color: aliceblue;
      text-align: center;

      header p {
        color: aliceblue;
        text-align: center;
        justify-content: center;
      }

      .content {
        display: flex;
        justify-content: center;
      }
    }
  }


  .home-page-container {
    max-width: 1640px;
    width: 100%;


    @media (max-width:768px) {
      .top-search-bar {
        flex-direction: column;
      }
    }

  }

}

