@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App.sell-with-us-page {

  .sell-with-us-container {
    background-image: linear-gradient(180deg, #201B71 0%, #08061E 52%, #020106 100%);
    padding-bottom: 150px;
    padding-top: 100px;

    p {
      color: #BBBABA;
    }
    .title {
      margin-bottom: 30px;
        p {
        font-family: Bebas Neue;
        font-size: 5.7125rem;
        text-transform: uppercase;
        font-weight: normal;
        line-height: normal;
      }
    }

    .first-section {
      padding-left: 129px;
      padding-top: 22px;
      padding-bottom: 61px;

      .sub-title p {
        font-family: Open Sans;
        font-size: 1.9375rem;
        max-width: 896px;
      }

      .crypto-town-img {
        margin-right: -120px;
        img {
          max-width: 745px;
        }
      }
    }

    .second-section {
      width: 100%;
      max-width: 1250px;

      .title {
        margin-bottom: 100px;
      }

      .sub-title {
        margin-bottom: 52px;
        p {
          font-family: Bebas Neue;
          font-size: 38px;
          text-align: center;
          color: #7A7676;
        }
      }

      .benefits-cards {
        width: 100%;

        .benefits-card {
          width: 100%;
          max-width: 319px;

          &:hover {
            .sub-title p{
              color: #463AF3;
            }
            .card-cont {
              .left-frame {
                .first {
                  margin-top: 30px;
                }
              }
            }
            .right-frame {
              margin-top: -50px;
            }
            .b-card {

            img {
              &.hover {
                display: block;
              }
              &.not-hover {
                display: none;
              }
            }
            }
          }

          .card-cont {
            .middle-container {
              overflow: hidden;
              width: 100%;
            }

            .left-frame {

              .first {
                height: 156px;
                margin-bottom: 10px;
                transition: margin-top 0.80s;
              }

            }
            .right-frame {
              width: 10px;
              height: 155px;
              background-color: #463AF3;
              border-radius: 0 25px 25px 0;
              transition: margin-top 0.80s;
            }
          }

          .b-card {
            position: relative;
            min-height: 280px;
            width: 100%;
            box-sizing: content-box;

            .background {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            &:nth-child(3)::after{
              background-color: red;
            }

            .not-hover,
            .hover {
              margin-top: 35px;
              width: 50px;
              height: 50px;
            }

            .not-hover {
              display: block;
            }
            .hover {
              display: none;
            }

            .text {
              font-family: Open Sans;
              white-space: pre-wrap;
              font-size: 17px;
              margin-top: 41px;
            }
          }
        }
      }

      .button-sell {
        max-width: 303px;
        width: 100%;
        border: none;
        background-color: #463AF3;
        border-radius: 7px;
        font-family: Bebas Neue;
        font-size: 33px;
        letter-spacing: 1.85px;
        color: #FFFFFF;
        margin-top: 222px;
      }
    }

    @media (max-width: 1200px) {
      padding-left: 30px;
      padding-right: 30px;
      .first-section {
        padding-left: 0;
        flex-direction: column;
        .crypto-town-img {
          margin-right: 0;
        }
        .sub-title {
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 1050px) {
      padding: 57px 37px;
      .second-section {
        .benefits-cards {
          flex-direction: column;
        }

        .benefits-card {
          margin-bottom: 84px;
        }

        .button-sell {
          margin-top: 10px;
        }
      }
    }

    @media (max-width: 992px) {
      .first-section,
      .second-section {
        .title p {
          font-size: 70px;
        }
        .sub-title p {
          font-size: 24px;
        }
      }
      .first-section {
        .crypto-town-img {
          padding-left: 20px;
          padding-right: 20px;
          img {
            max-width: 100%;
            max-height: auto;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .first-section,
      .second-section {
        .title p {
          font-size: 38px;
        }
        .sub-title p {
          font-size: 18px;
        }
        .text {
          padding: 0 20px;
          text-align: center;
        }
      }
    }
  }
}
