@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.App.sell-with-us-page {

  .sell-with-us-container {
    background-image: linear-gradient(180deg, #201B71 0%, #08061E 52%, #020106 100%);
    padding-bottom: 150px;
    padding-top: 100px;

    p {
      color: #BBBABA;
    }
    .title {
      margin-bottom: 30px;
        p {
        font-family: Bebas Neue;
        font-size: 6.3125rem;
        text-transform: uppercase;
        font-weight: normal;
        line-height: normal;
      }
    }

    .first-section {
      padding-left: 129px;
      padding-top: 22px;
      padding-bottom: 61px;

      .sub-title p {
        font-family: Open Sans;
        font-size: 1.9375rem;
        max-width: 896px;
      }

      .crypto-town-img {
        margin-right: -120px;
        img {
          max-width: 745px;
        }
      }
    }

    .second-section {
      width: 100%;
      max-width: 1250px;

      .title {
        margin-bottom: 100px;
      }

      .sub-title {
        margin-bottom: 52px;
        p {
          font-family: Bebas Neue;
          font-size: 38px;
          text-align: center;
          color: #7A7676;
        }
      }

      .benefits-cards {
        width: 100%;

        .benefits-card {
          width: 100%;
          max-width: 319px;

          .card-cont {
            .middle-container {
              width: 100%;
            }
            .top-frame {
              height: 10px;
              background-color: #463AF3;
              width: 181px;
              border-radius: 25px 25px 0 0;
            }
            .left-frame {
              .first,
              .second {
                width: 10px;
                background-color: #463AF3;
                border-radius: 25px 0 0 25px;
              }
              .first {
                height: 156px;
                margin-bottom: 10px;
              }
              .second {
                height: 65px;
              }
            }
            .right-frame {
              width: 10px;
              height: 155px;
              background-color: #463AF3;
              border-radius: 0 25px 25px 0;
            }
          }

          .b-card {
            position: relative;
            height: 280px;
            width: 100%;
            padding: 37px 20px 20px 26px;

            border-color: #0590FF;
            border-style: solid;
            border-width: 1px 1px 0 1px;
            background-color: rgba(5, 144, 255, 0.15);

            box-sizing: content-box;

            &:after {
              content: "";
              position:absolute;
              top: 0;
              left: 0;
              margin:-20px;
              width:40px;
              height:40px;
              transform:rotate(45deg);
              background-color:#070519;
              border-right: 1px solid #0590FF;
            }

            img {
              width: 50px;
              height: 50px;
            }

            .text {
              font-family: Open Sans;
              font-size: 17px;
              margin-top: 41px;
            }
          }
        }
      }

      .button-sell {
        max-width: 303px;
        background-color: #463AF3;
        border-radius: 7px;
        font-family: Bebas Neue;
        font-size: 33px;
        letter-spacing: 1.85px;
        color: #FFFFFF;
        margin-top: 222px;
      }
    }

    @media (max-width: 1200px) {
      padding-left: 30px;
      padding-right: 30px; 
      .first-section {
        padding-left: 0;
        flex-direction: column;
        .crypto-town-img {
          margin-right: 0;
        }
        .sub-title {
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 1023px) {
      padding: 57px 37px;
    }

    @media (max-width: 992px) {
      .first-section,
      .second-section {
        .title p {
          font-size: 70px;
        }
        .sub-title p {
          font-size: 24px;
        }
      }
      .first-section {
        .crypto-town-img {
          padding-left: 20px;
          padding-right: 20px;
          img {
            max-width: 100%;
            max-height: auto;
          }
        }
      }
      .second-section {
        .benefits-cards {
          flex-direction: column;
        }
      }
    }

    @media (max-width: 600px) {
      .first-section,
      .second-section {
        .title p {
          font-size: 38px;
        }
        .sub-title p {
          font-size: 18px;
        }
      }
    }
  }
}