$gray-color: #c4c4c4;

.search-input {
  max-width: 447px;
  border-radius: 5px;
  background-color: #575757;
  padding: 0 10px;

  .arcane-input {
    height: unset;
  }

  .search-icon {
    width: 17.5px;
    height: 17.5px;
  }

  .arcane-input {
    min-width: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px;
    border: none;
    color: #ffffff;
    opacity: 0.3;
    &:focus {
      border: none;
      outline: none;
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff;
      opacity: 0.3;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ffffff;
      opacity: 0.3;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ffffff;
      opacity: 0.3;
    }
  }

  @media (max-width: 768px) {
    background-color: #121212;

    .arcane-input:focus {
      border: none;
    }
  }
}
