.game-listing {
  width: 9vw;
  height: 9vh;
  margin: 2rem;
  min-width: 100px;
  max-width: 120px;
  max-height: 120px;
  min-height: 100px;
  border-radius: 1.1em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  img {
    width: 9vw;
    max-width: 120px;
    min-width: 100px;
    max-height: 120px;
    min-height: 100px;
    height: 9vh;
    object-fit: cover;
    border-radius: 1.1em;
  }


}

.game-list .popover {
  .title {
    font-size: 18px;
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background: rgba(0,0,0,0.3);
  }

  .price {
    background: rgba(darkgray, 0.3);
    margin-top: 1vh;
  }
  button {
    width: 100%;
    padding: 0.3em 0;
  }
}
