.game-listing {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;

  &:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

    .overlay {
      display: flex;
      padding: 15px;
      background: rgba(70, 58, 243, 0.8);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 20px;
      color: #ffffff;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      z-index: 9999;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;

      .overlay-title {
        font-size: 14px;
      }

      .price-info {
        color: #ffdd00;
        margin-bottom: 15px;
      }

      .overlay-buttons {
        width: 100%;
      }

      .watch-trailer {
        background-color: #463af3;
      }

      .watch-trailer,
      .overlay-button {
        width: 100%;
        max-width: 153px;
        height: 25px;
        font-size: 12px;
        border: 1px solid #ffffff;
        border-radius: 25px;
        opacity: 1;
        cursor: pointer;
      }

      .overlay-button {
        &.buy {
          background-color: #ffffff;
          margin-top: 11px;

          a {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #4539ee;
          }
        }
      }
    }

    @media (max-width: 1200px) {
      .overlay {
        font-size: 16px;
      }
    }

    @media (max-width: 992px) {
      .overlay {
        font-size: 14px;
      }
    }

    @media (max-width: 768px) {
      .overlay {
        font-size: 12px;
      }
    }
  }

  img {
    object-fit: cover;
    border-radius: 20px;
  }

  .overlay {
    display: none;
  }
}
