.game-listing {
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
  width: 280px;

  @media (max-width:1200px) {
    width: auto;
  }

  &:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .overlay {
      display: flex;
      padding: 15px;
      background: rgba(70, 58, 243, 0.80);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 20px;
      color: #FFFFFF;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      z-index: 9999;
      -webkit-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;

      .price-info {
        color: #FFDD00;
      }

      .watch-trailer {
        font-size: 14px;
        font-weight: normal;
      }

      .overlay-button {
        width: 100%;
        max-width: 153px;
        height: 35px;
        font-size: 12px;
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        opacity: 1;

        &.buy {
          background-color: #FFFFFF;
          margin-top: 11px;

          a {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #4539EE;
          }
        }
      }
    }

    @media (max-width:1200px) {
      .overlay {
        font-size: 18px;
      }
    }

    @media (max-width:992px) {

      .overlay {
        font-size: 16px;
      }
    }

    @media (max-width:768px) {

      .overlay {
        font-size: 12px;
      }
    }
  }

  img {

    object-fit: cover;
    border-radius: 20px;
  }

  .overlay {
    display: none;


  }
}
