.add-distribution {
  color: white;
  .choose-distribution {
    label {
      margin: 10px;
    }
  }
  .steam_keys {
    .keys {
      height: 200px;
      overflow-y: auto;
      color: black;
      background-color: white;
    }
  }
  .drop-installer {
    width: 300px;
    height: 300px;
    border: 2px solid white;
  }
}
