.App.seller-listings-new {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;

  form {
    h1 {
      margin: 2em 0;
      font-size: 32px;
      text-transform: capitalize;
    }

    label.form-label {
      position: absolute;
      color: aliceblue;
      font-size: 18px;
      text-transform: capitalize;
      letter-spacing: 0.7px;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
      border-right: 1px solid gray;
      padding: 0 0.7em;
      font-size: 18px;
      background: #79808f;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    div.field.spacer {
      display: flex;
      width: 80vw;
      justify-content: space-around;
      margin-top: 4em;
    }

    div.description-field {
      display: block;
      margin: 5em 0;
      justify-content: center;

      trix-editor {
        padding: 3em;
        min-height: 50vh;
        color: aliceblue;
        background: rgba(0,0,0,0.3);

        textarea {
          color: aliceblue;
          background: rgba(0,0,0,0.3);
        }
      }
    }


    input[type=text] {
      margin-top: 22px;
    }

    select {
      margin-top: 27px;
      padding: 0.7em 1em;
    }

    input[name='title'] {
      padding: 8px 5px;
      width: 300px;
    }

    tags {
      margin-top: 28px;
      width: 400px;
    }

    select[name='category'] {
      width: 300px
    }

    .trix-button {
      background-color: whitesmoke;
    }

    .title, .esrb {
      display: inline-flex;
    }

    .early-access {
      input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
      }


      label.drag-cursor {
        cursor: pointer;
        text-indent: -9999px;
        width: 110px;
        height: 36px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
      }

      input:checked + label {
        background: #bada55;
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }
    }
  }
}
