.arcane-nav {
  height: 78px;
  background-color: #2A2A2A;

  .navbar-item {
    &:hover, &:focus {
      background-color: #2A2A2A;
    }
  }

  a {
    font-family: "Montserrat";
    color: #E4E4E4;
    letter-spacing: -0.3px;
    font-weight: 300;
  }

  .logo-placeholder {
    background-color: #463AF3;
    width: 87px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
