.arcane-nav {
  height: 78px;
  background-color: #2A2A2A;
  padding: 25px;

  .navbar-item {
    &:hover, &:focus {
      background-color: #2A2A2A;
    }
  }

  a {
    font-family: "Montserrat";
    color: #E4E4E4;
    letter-spacing: -0.3px;
    font-weight: 300;
  }

  .logo-placeholder {
    background-color: #463AF3;
    width: 87px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .mobile-nav {
      display: none;
    }


   @media (max-width:1023px) {
    .mobile-nav {
      display: flex;
      .mobile-nav-dropdown {
        position: absolute;
        top: 78px;
        right: 0;
        z-index: 9999;
        width: 100%;
        max-width: 276px;
        background-color: #2A2A2A;
      }
    }
  }
}
