header.nav {
  justify-content: space-evenly;
  width: 100%;
  height: 145px;
  display: flex;


  .links {
    margin-top: 60px;
    margin-left: 72px;

    &.left, &.right { display: flex; }

    a {
      color: #C0B2A1;
      font-weight: 600;
      width: 125px;
      text-align: center;
    }
  }

  .center {
    h3 {
      color: #C0B2A1;
      margin: 1em 0 0;
      font-family: system-ui;
    }
    .App-logo {
      width: 100px;
    }

  }

}
