.App.listings-show {


  .game-page-container{
    padding: 65px 140px;
    background-color: #121212;

    .top-search-bar {
      margin-bottom: 48px;
    }

    @media (max-width:1200px) {


      ::-webkit-input-placeholder {
         color:transparent;
      }

      :-moz-placeholder { /* Firefox 18- */
         color:transparent; 
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color:transparent; 
      }

      :-ms-input-placeholder {  
         color:transparent;
      }
      padding: 0;

      .top-search-bar {
        margin-bottom: 0;
        padding: 13px 25px;

        .search-input {
          flex-direction: row-reverse;
          max-width: 200px;



          .arcane-input {
            min-width: 0;
            max-width: 150px;


          }
        }
      }
    }
  }

  font-family: Montserrat;

  strong {
    color: aliceblue;
    letter-spacing: 0.7px;
  }

  .back-button {
    cursor: pointer;
    opacity: 0.3;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #e4e4e4;
  }

  .container {
    display: flex;

    .row {
      display: inline-flex;
      flex-wrap: wrap;
    }

    .game-info {
      top: 79px;
      width: 34vw;
      margin: 1em;
      height: 29.9vh;
      position: relative;
      color: aliceblue;

      img {
        width: 100%;
        height: 125px;
        object-fit: cover;
      }

      p {
        padding: 1em;
        text-overflow: ellipsis;
        max-height: 200px;
        height: 110px;
        line-height: 1.2;
        overflow: hidden;
      }
    }
  }

  .info-section {
    color: aliceblue;

    @media (max-width:500px) {
      padding: 0;
      margin: 0;

    }

    .payment-submit {


      button {
        background-color: #463af3;
        font-size: 18px;
        padding: 0.5em 1.4em;
        border: none;
        width: 236px;
        height: 48px;
        border-radius: 8px;
        color: white;
        font-size: 17px;
        font-weight: bold;
        line-height: 1.24;
        letter-spacing: 0.85px;
      }
    }

    .description {
      margin-top: 115px;

      .section-title {
        font-size: 25px;
        font-weight: 500;
        line-height: 1.2;
        color: #e4e4e4;
      }

      .game-title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.22;
        margin-top: 67px;
        margin-bottom: 15px;
        color: #e4e4e4;
      }

      .info-text {
        font-family: OpenSans;
        color: #e4e4e4;
        font-size: 23px;
        line-height: 1.74;
        opacity: 0.6;
      }

      .second-section div {
        width: 33%;
      }

      .game-description {
        max-width: 998px;
      }

      .descr-toggle-button {
        display: none;
      }


    }

    .pricing {


      .tippy-content {
        font-size: 25px;
      }

      .payment {


        .crypto {
          display: flex;

          .monero {
            margin-left: 10px;
          }
        }

        i.fab {
          margin: 0.2em 0.3em;
          font-size: 50px;

          @media (max-width:500px) {
            font-size: 40px;
          }
        }

        .fiat {

          h3 {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
            color: #e4e4e4;
            text-align: left;
            margin-bottom: 20px;
            @media (max-width:500px) {
              font-size: 20px;
            }
          }
        }
      }

      .vl {
        display: inline-block;
        border-left: 1px solid;
        height: 90px;

        @media (max-width:500px) {
          margin: 1em;
        }
      }

      .platforms {
        vertical-align: top;
        display: inline-flex;

        @media (max-width:500px) {
          margin-top: 10px;
          padding: 0.3em 0;
        }

        i {
          font-size: 70px;
          @media (max-width:500px) {
            font-size: 40px;
          }
        }
        h3 {
          text-align: center;
        }
        div {
          margin: 0 0em 0em 2em;
          &:first-of-type {
            margin: 0;
          }

          &:last-of-type {
            margin: 0 2em;
          }
        }
      }
    }

    p {
      margin-top: 2em;
      color: aliceblue;
    }
  }

  .splide-container {
    flex-direction: row;
    flex-grow: 1;
  }

  .splide {

    .splide__track {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      height: 640px;

      @media (max-width:500px) {
        height: 437px;
      }
    }

    .splide__slide {
      flex-direction: row;
      flex-grow: 1;

    }


    div[preload] {
      width: 100vw !important;
      height: 600px !important;
    }
    video {
      object-fit: cover;
      height: 600px !important;
      width: 100vw;
      margin-bottom: 3em;
      @media (max-width:500px) {
        height: 330px  !important;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 600px !important;
      @media (max-width:500px) {
        height: 450px  !important;
      }

      margin-bottom: 3em;
    }
  }

  @media (max-width:1200px) {



    .back-button {
      font-size: 10px;
    }

    .pricing,
    .price {
      justify-content: center;
    }

    .pricing {

      form{
        width: 100%;
      }

      .payment-submit .button {
        width: 100%;
      }

      .payment {
        margin-top: 10px;
      }
    }

    .info-section {
      .description {
        padding: 11px 25px;
        margin-top: 23px;

        .info-text {
          font-size: 17px;
        }

        .section-title {
          font-size: 19px;
        }

        .game-title {
          margin-top: 43px;
          margin-bottom: 19px;
        }

        .second-section {
          justify-content: flex-start;
          div {
             width: 50%;
          }
        }

        .desc-open {
          height: 100%;
        }

        .descr-toggle-button {
          background: transparent linear-gradient(180deg, #12121200 0%, #2A2A2A 100%);
          opacity: 1;
          display: flex;
          padding: 10px;
          margin-bottom: 24px;
          flex-direction: row;
          color: #E4E4E4;
          font-size: 17px;
          align-items: center;
          justify-content: center;

          .show-more-icon {

            transform: rotate(90deg);

          }

          .show-less-icon {
            transform: rotate(-90deg);
          }
        }

        .desc-closed {
          height: 253px;
          overflow: hidden;
        }
      }

      .game-info {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .splide {
      

      .splide__track {
        height: 250px !important;
      }
      
      video {
        height: 221px !important;
      }
    }



  }
}
