.App.listings-show {
  strong {
    color: aliceblue;
    letter-spacing: 0.7px;
  }

  .container {
    display: flex;

    .row {
      display: inline-flex;
      flex-wrap: wrap;
    }

    .game-info {
      top: 79px;
      width: 34vw;
      margin: 1em;
      height: 29.9vh;
      position: relative;
      color: aliceblue;
      background: rgba(0, 0, 0, 0.3);

      img {
        width: 100%;
        height: 125px;
        object-fit: cover;
      }

      p {
        padding: 1em;
        text-overflow: ellipsis;
        max-height: 200px;
        height: 110px;
        line-height: 1.2;
        overflow: hidden;
      }
    }
  }

  .info-section {
    padding: 3em;
    margin: 0 5.3em;
    color: aliceblue;
    background-color: rgba(0,0,0,0.3);

    @media (max-width:500px) {
      padding: 0;
      margin: 0;
    }

    .payment-submit {
      display: flex;
      justify-content: center;

      button {
        font-size: 18px;
        padding: 0.5em 1.4em;
      }
    }

    .description {
      width: 600px;
      margin: 0 auto;

      @media (max-width:45000px) {
        width: 360px  !important;
      }
    }

    .pricing {
      display: flex;
      justify-content: center;

      .tippy-content {
        font-size: 25px;
      }

      .payment {
        display: inline-block;
        vertical-align: top;

        .crypto {
          display: flex;

          .monero {
            margin-left: 10px;
          }
        }

        i.fab {
          margin: 0.2em 0.3em;
          font-size: 50px;
        }

        .fiat {
          display: flex;
          justify-content: center;

          h3 {
            font-size: 32px;
          }
        }
      }

      .vl {
        display: inline-block;
        border-left: 1px solid;
        height: 90px;
        margin: 1em 3em;
      }

      .platforms {
        vertical-align: top;
        display: inline-flex;

        i {
          font-size: 70px;
        }
        h3 {
          text-align: center;
        }
        div {
          margin: 0 0em 0em 2em;
          &:first-of-type {
            margin: 0;
          }

          &:last-of-type {
            margin: 0 2em;
          }
        }
      }
    }

    p {
      margin-top: 2em;
      color: aliceblue;
    }
  }

  .splide-container {
    padding: 2em;
    display: flex;
    width: 100vw;
    justify-content: center;
  }

  .splide {

    .splide__track {
      width: 71vw;
      height: 640px;

      @media (max-width:500px) {
        height: 437px;
      }
    }

    .splide__slide {
      width: 71vw !important;
    }


    div[thumbnail] {
      width: 71vw !important;
      height: 600px !important;
    }
    video {
      height: 600px !important;
      width: 71vw;
      margin-bottom: 3em;
      @media (max-width:500px) {
        height: 330px  !important;
      }
    }
    img {
      width: 100%;
      object-fit: contain;
      height: 600px !important;
      @media (max-width:500px) {
        height: 450px  !important;
      }

      margin-bottom: 3em;
    }
  }
}
