.two-factor-form {
  font-family: Montserrat;
  text-align: center;
  z-index: 999;
  max-width: 844px;
  padding: 30px 25px;
  background-color: #2a2a2a;

  .logo {
    font-style: Segoe UI;
    width: 143px;
    height: 64px;
    color: #e4e4e4;
    font-size: 33px;
    font-weight: normal;
    margin: 40px 0 70px;
  }

  input.code-number {
    width: 38px;
    padding: 1em 0px 1em 0;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    height: 40px;
  }

  .send-code {
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;

    .delivery-options {
      display: flex;
      justify-content: center;
      padding: 2em 0;

      .topcoat-radio-button {
        margin: 0;
        font-size: 19px;
      }
    }
  }
  .submit-delivery {
    display: flex;
    justify-content: center;

    button {
      margin: 14px;
      width: 215px;
      height: 48px;
      background-color: #463af3;
      border-radius: 8px;
      color: white;
    }
  }

  .sms-checkbox {
    transform: rotate(180deg);
  }

  .sms-checkbox,
  .email-checkbox {
    height: 20px;
  }

  .topcoat-email-label {
    margin-right: -5px;
  }

  .topcoat-sms-label {
    margin-left: -5px;
  }

  input[type='checkbox'] {
    visibility: hidden;
  }

  .sms-span {
    margin-left: 24px;
  }

  .email-span {
    margin-right: 24px;
  }

  .topcoat-radio-button span {
    opacity: 1;
  }

  .topcoat-radio-button span.active {
    opacity: 0.5;
  }

  .code {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 667px) {
    height: 100%;
  }
}
