.App.two-factor {
  .two-factor-page {
    height: 100vh;
    background-image: url("./../../img/auth-bckg.jpg");
    background-size: cover;
  }

  .two-factor-page::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
  }

  .two-factor-form {
    z-index: 999;
    max-width: 844px;
    padding: 30px 25px;
    background-color: #2A2A2A
  }

  .logo {
    font-style: Segoe UI;
    width: 143px;
    height: 64px;
    color: #E4E4E4;
    font-size: 33px;
    font-weight: normal;
    background-color: #463AF3;
    margin-bottom: 40px;
  }




  input.code-number {
    width: 38px;
    padding: 1em 0px 1em 0;
    border-radius: 5px;
    text-align: center;
    font-size: 23px;
    height: 40px;
  }

  .send-code {
    width: 30vw;
    margin: 0 auto;

    p {
      color: aliceblue;
    }

    .delivery-options {
      display: flex;
      justify-content: center;
      padding: 2em 0;

      .topcoat-radio-button {
        margin: 0 1em;
        font-size: 19px;
      }
    }

  }
  .submit-delivery {
    display: flex;
    justify-content: center;

    button {
      margin: 14px;
      width: 215px;
      height: 48px;
      background-color: #463AF3;
      border-radius: 8px;
      color: white;
    }
  }

  .code {
    display: flex;
    justify-content: center;
  }
}
