.App.two-factor {
  font-family: Montserrat;
  .two-factor-page {
    height: 100vh;
    background-image: url('./../../img/auth-bckg.jpg');
    background-size: cover;
  }

  .two-factor-page::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
