$main-color: #000000;

.onboarding-modal {
  min-width: 731px;
  color: $main-color;
  font-family: Montserrat;
  &.small-modal {
    min-width: 500px;
  }
  @media (max-width: 768px) {
    min-width: unset;
    &.small-modal {
      min-width: unset;
    }
  }
  // if we need transitons uncomment this
  // opacity: 0;

  &.fade-in {
    opacity: 1;
    transition: all 0.2s;
  }
  &.fade-out {
    opacity: 0;
    transition: all 0.2s;
  }
}
