$main-color: #000000;

.onboarding-modal {
  background-color: white;
  padding: 20px 40px 40px;
  border-radius: 10px;
  min-width: 731px;
  color: $main-color;
  font-family: Montserrat;
  &.small-modal {
    min-width: 500px;
  }
  // if we need transitons uncomment this
  // opacity: 0;

  &.fade-in {
    opacity: 1;
    transition: all 0.2s;
  }
  &.fade-out {
    opacity: 0;
    transition: all 0.2s;
  }
}
