$gray-color: #c4c4c4;

.signup-form {
  padding: 30px 25px;
  z-index: 999;
  width: 100%;
  max-width: 844px;
  background-color: #2a2a2a;
  font-style: Montserrat;

  h1,
  p,
  span {
    text-align: center;
    color: #ffffff;
  }

  h1 {
    font-size: 24px;
  }

  .logo {
    font-style: Segoe UI;
    width: 143px;
    color: #e4e4e4;
    font-size: 33px;
    font-weight: normal;
    margin: 40px 0 70px;
  }

  form {
    width: 100%;
    max-width: 475px;
    text-align: center;
    color: #ffffff;

    .form-text {
      text-align: left;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0px;
      color: white;
    }

    .label {
      margin-bottom: 8px;
    }

    .input-div,
    .tel-input-row {
      background-color: #ffffff;
      border-radius: 8px;
      border: 1px solid #c4c4c4;
      input {
        border: none;
      }
    }

    .arcane-input,
    .arcane-input:active .arcane-input:focus-within {
      background-color: #ffffff !important;
      color: black !important;
      min-width: 0;
    }

    .eye-icon-button {
      padding: 10px 30px;
    }

    .input-container {
      margin-bottom: 20px;

      .iti {
        width: 100%;
        span,
        .iti__selected-flag {
          color: black;
          outline: none;
        }
      }
    }

    /* Change the white to any color ;) */
    .arcane-input:-webkit-autofill,
    .arcane-input:-webkit-autofill:hover,
    .arcane-input:-webkit-autofill:focus,
    .arcane-input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    .arcane-input.checkbox {
      width: 18px;
      height: 18px;
      min-width: 0;
      margin-bottom: 0;
      margin-right: 18px;
    }
  }
  .submit-button {
    width: 100%;
    background-color: #463af3;
    border-radius: 8px;
  }

  .terms-div p {
    font-size: 10px;
  }

  .sign-up-link {
    text-align: center;
    margin-bottom: 25px;
    font-size: 13px;

    a {
      color: #463af3;
    }
  }

  @media only screen and (max-width: 667px) {
    height: 100%;
    padding: 65px 25px 108px 25px;

    form {
      height: 100%;
    }
  }
}
