.uploader {
  display: inline-block;
  width: 40vw;

  .icons {
    display: flex;
    justify-content: center;

    .fa-image {
      font-size: 55px;
    }

    .fa-file-video {
      margin-left: 100px;
      font-size: 43px;
      position: relative;
      top: 5px;
    }
  }

  .drop-column {
    width: 40vw;
    padding: 2em 0 0;
  }

  .preview-column {
    width: 80vw;
  }
  .drop-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed aliceblue;
    height: 30vh;
    border-radius: 16px;
    padding: 24px 12px 64px;
    background-color: rgba(0, 0, 0, 0.3);

    h4 {
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 0.7px;

      a {
        color: aliceblue;
        text-decoration: underline;
      }
    }
  }
  .previews {
    background-color: rgba(0,0,0,0.1);
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    margin: auto;
    padding: 5em 0 1em;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
  }

  .drop-placeholder,
  .previews {
    display: flex;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    text-align: center;
    width: 100%;

    .preview {
      margin: 0 1em;
      border: 1px dashed aliceblue;
      display: inline-table;
      padding: 16px;
      position: relative;
      border-radius: 2px;
      flex-direction: column;

      &:first-of-type {
        margin-left: 0;
      }

      .drag-handle {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 2;
        font-size: 26px;
        font-style: bold;
        cursor: pointer;
        color: aliceblue;
      }
      img,
      video,
      .loader-wrapper {
        width: 150px;
        height: 100px;
      }
      .progress {
        width: 100%;
        height: 10px;
        background: white;
        .progress-bar {
          height: 100%;
          background-color: green;
        }
      }
    }
  }
}

.SortableHelper.preview {
  img,
  video {
    width: 100px;
    height: 100px;
  }
}
