.uploader {
  height: 100%;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .drop-placeholder {
    height: 100%;
    border-radius: 20px;
    border: 1px dashed #e4e4e4;
    padding: 45px;
    // &.drag-over {
    //   pointer-events: none;
    // }
    .drop-placeholder-icons {
      .drop-placeholder-icon {
        margin-right: 66px;
        &:last-of-type {
          margin-right: 0;
        }
        .icon-details {
          margin-left: 10px;
          color: #e4e4e4;
          font-weight: 500;
          .icon-title {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1.11;
          }
          .icon-caption {
            opacity: 0.5;
            font-size: 16px;
            line-height: 1.25;
          }
        }
      }
    }
    span.drop-here {
      font-family: Montserrat;
      font-size: 34px;
      font-weight: 500;
      line-height: 0.94;
      color: #e4e4e4;

      a {
        margin-left: 10px;
        text-decoration: underline;
        color: #e4e4e4;
      }
    }
  }
}

.SortableHelper.preview {
  img,
  video {
    width: 100px;
    height: 100px;
  }
}
