.uploader {
  display: flex;
  flex-direction: row;

  .drop-placeholder {
    border: 2px dashed aliceblue;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .previews {
    background-color: rgba(0,0,0,0.1);
    overflow-y: scroll;
  }

  .drop-placeholder,
  .previews {
    border: 1px solid white;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 24px 12px 64px;
    max-width: 720px;
    min-height: 332px;
    overflow-y: auto;
    text-align: center;
    width: 100%;
    height: 30vh;

    .preview {
      display: flex;
      padding: 16px;
      position: relative;
      border-radius: 2px;
      flex-direction: column;
      .drag-handle {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 2;
        font-size: 26px;
        font-style: bold;
        cursor: pointer;
        color: black;
      }
      img,
      video,
      .loader-wrapper {
        width: 100px;
        height: 100px;
      }
      .progress {
        width: 100%;
        height: 10px;
        background: white;
        .progress-bar {
          height: 100%;
          background-color: green;
        }
      }
    }
  }
}

.SortableHelper.preview {
  img,
  video {
    width: 100px;
    height: 100px;
  }
}
