body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iti__flag {
  background-image: url('~intl-tel-input/build/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('~intl-tel-input/build/img/flags@2x.png');
  }
}

.App {
  display: block;
  background-color: #121212;
  min-height: 100vh;
  padding-top: 78px;

  @media (max-width: 1023px) {
    padding-top: 0;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 2;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-flex-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-stretch {
  align-self: stretch;
}

.align-self-bottom {
  align-self: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.justify-self-stretch {
  justify-self: stretch;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {
  .mobile-flex-column {
    flex-direction: column;
  }
  .large-and-down-flex-column {
    flex-direction: column;
  }
  .mobile-align-start {
    align-items: flex-start;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 1023px) {
  .tablet-flex-column {
    flex-direction: column;
  }
  .large-and-down-flex-column {
    flex-direction: column;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1215px) {
  .large-flex-column {
    flex-direction: column;
  }
  .large-and-down-flex-column {
    flex-direction: column;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.modal-content {
  width: auto !important;

  @media (max-width: 600px) {
    width: 85vw !important;
  }
}

.loader-wrapper {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #463af3;
  color: aliceblue;
  border: none;
  outline: none;
}

[role='button'] {
  outline: none;
}

.display-none {
  display: none !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
