body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iti__flag {
  background-image: url('~intl-tel-input/build/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('~intl-tel-input/build/img/flags@2x.png');
  }
}

.App {
  display: block;
  background-color: #121212;
  min-height: 100vh;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-flex-start {
  justify-content: flex-start;
}
.align-self-start {
  align-self: flex-start;
}

.align-self-stretch {
  align-self: stretch;
}

.justify-around {
  justify-content: space-around;
}

.justify-self-stretch {
  justify-self: stretch;
}

.modal-content {
  width: auto !important;
}

.loader-wrapper {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #463af3;
  color: aliceblue;
  border: none;
}
