.seller-game-distributions {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.56;
  color: #8f8f8f;
  .seller-game-distributions-content {
    padding: 0 20px;
    .form-title {
      font-size: 41px;
      font-weight: 500;
      line-height: 1.22;
      color: #ffffff;
      margin: 41px 0 71px 0;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
    .distributions-container {
      max-width: 500px;
      margin: auto;
    }
  }
  .uploader {
    display: flex;
    flex-direction: column;
    width: 100%;
    .progress {
      border: 1px solid white;
      margin-top: 10px;
      .progress-bar {
        width: 100%;
        height: 20px;
        background-color: green;
      }
    }
  }
  .platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border: solid 1px #2a2a2a;
    background-color: #e4e4e4;
  }
  .choose-distribution {
    width: 100%;
    .arcane-toggler {
      button {
        width: 140px;
        height: 48px;
        &:first-of-type {
          margin-right: 10px;
        }
      }
    }
  }
  .steam_keys {
    margin-top: 10px;
    .keys {
      height: 200px;
      overflow-y: auto;
      color: black;
      background-color: white;
      .key {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        .delete {
          color: black;
        }
        &:hover {
          background-color: lightgray;
        }
      }
    }
    .enter-key {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      input {
        border: none;
        outline: none;
        padding: 10px;
        width: 70%;
      }
    }
    .error {
      color: red;
      padding: 10px;
    }
  }
  .drop-placeholder {
    margin-top: 20px;
    min-height: 250px;
    border: 2px solid white;
  }
}
