.sellers-modal {
  .modal-content {
    padding: 0;
    background-color: transparent;
    min-width: 400px;
    display: flex;
    @media (max-width: 400px) {
      min-width: 100vw;
      min-height: 100vh;
    }
    .logo {
      width: 60px;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
    .input-container {
      margin-bottom: 10px;
    }
    .form-text.label {
      margin-bottom: 5px;
    }
  }
  .close-modal {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 1001;
    width: 25px;
    img {
      width: 100%;
    }
  }
}
